/* global css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    color: #828282;
    font-size: 18px;
    line-height: 1.5;
}

h1, h3 {
    margin: 0;
    color: #575757;
}

.color-text {
    color: #FBA24F;
}

/* btn link css */
.btn{
    display: inline-block;
    width: 190px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 24px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
}

/* header area css */
.header {
    background: #FF1E1E;
    padding: 20px 15px;
}

.menu {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 25%;
}

.site-logo a {
    display: block;
}

.site-logo a img {
    display: block;
}

.menu-item {
    width: 75%;
}

.menu-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu-item ul li {
    display: inline;
    padding-left: 15px;
}

.menu-item ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

/* banner area css */
.container {
    display: flex;
    align-items: center;
}

.two-column {
    width: 50%;
}

.banner {
    margin: 80px 0;
    padding: 0 80px;
}

.banner-left h1 {
    font-size: 60px;
    font-weight: 700;
}

.banner-left p {
    margin-top: 55px;
    margin-bottom: 45px;
}

.banner-right img {
    width: 100%;
}

/* about area css */
.about {
    padding: 60px 80px 0;
}

.about-bg {
    background-image: url(./images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-left {
    text-align: center;
}

.about-left img {
    width: 338px;
    height: 536px;
    display: flex;
    margin: 0 auto;
}

.about-right h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.about-right p {
    max-width: 550px;
    margin-bottom: 45px;
}



/* order page css */
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






